extends layout.pug
block content
  h1= title
  p 
    | Are you sure you want to delete 
    em= title
    | ?
  p
    form(action="/books/" + id + "/delete", method="post")
            a.button(href="/books/" + id) Cancel
            input(type="submit", value = "Delete")